:root {
  --default-colour: #e8cbb4;
}
.Weather-app {
  background-color: var(--default-colour);
  border: 4px;
  border-radius: 25px;
  text-align: center;
  max-width: 450px;
  margin: 10px auto;
}
.date {
  font-size: 10px;
}
.search-engine {
  padding-bottom: 20px;
  padding-top: 10px;
}

.current-city {
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}
.weather-description {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
ul {
  padding: 0px;
}
li {
  list-style: none;
}

.current-temp {
  font-size: 50px;
}
.unit {
  font-size: 30px;
}
.high-temp-icon,
.low-temp-icon {
  text-align: end;
}

.forecast-details {
  text-transform: uppercase;
  padding-top: 20px;
  font-size: 12px;
  text-align: center;
}
